.yw-labelstyle
{
	color: red;
}
.yw-labelstyle-z-label
{
font-weight: bold !important;
	color: black !important;
	font-size: 16px !important;
}
.yw-enablelabelstyle
 {
  font-weight: bold !important;
  color: black !important;
  font-size: 16px !important;
}
.yw-editorarea-z-html
{
font-weight: bold !important;
}
.yw-editorarea-z-div
 {
font-weight: bold !important;
}
.yw-radioButton-z-html
{
color: black !important;
font-size: 14px !important;
}
.yw-error-connection-labelstyle-z-label{
color : red !important;
font-weight: bold !important;
font-size: 16px !important;
}
.yw-desc-cloudinary-tooltip .z-popup-content {
      padding: 8px;
       white-space: pre;
       }