@charset "utf-8";
$cloudinarymediabackoffice-container-background: var(--bo-base-background);
$cloudinarymediabackoffice-container-font-family: var(--bo-font-family);
$cloudinarymediabackoffice-container-font-size: $font-size__base;
$cloudinarymediabackoffice-label-text-color: var(--bo-text-color);
