<!-- START seCloudinaryMediaFormatTemplate.html -->
<div class="{{ctrl.mediaFormat}} se-media-format">
    <div class="se-media__screen-type">{{ctrl.mediaFormatI18NKey | translate}}</div>

    <!-- when the image is already uploaded -->
    <div class="se-media--present" data-ng-if="ctrl.isMediaPreviewEnabled()">
        <div class="se-media--present-img-container">
            <se-media-preview data-image-url="ctrl.media.url"></se-media-preview>
            <div class="se-media-preview__image-wrapper">
                <img class="se-media-preview__image-thumbnail" data-ng-src="{{ctrl.media.url}}" />
            </div>
        </div>

        <se-media-advanced-properties
                data-code="ctrl.media.code"
                data-description="ctrl.media.description"
                data-alt-text="ctrl.media.altText"
        ></se-media-advanced-properties>

        <se-file-selector
                data-custom-class="'media-format-present-replace' + (ctrl.isFieldDisabled() ? ' file-selector-disabled' : '')"
                data-disabled="ctrl.isFieldDisabled()"
                data-label-i18n-key="ctrl.i18nKeys.REPLACE "
                data-accepted-file-types="ctrl.acceptedFileTypes "
                data-on-file-select="ctrl.onFileSelect({files: files, format: ctrl.mediaFormat})"
        ></se-file-selector>


        <button
                class="se-media__remove-btn remove-image"
                data-ng-click="ctrl.onDelete({format: ctrl.mediaFormat}) "
                data-ng-disabled="ctrl.isFieldDisabled()"
        >
            <span
                    class="se-media__action-icon se-media__action-icon--delete sap-icon--delete"
            ></span>
            <span
                    class="se-media__remove-btn-txt"
                    data-ng-class="{'se-media__remove-btn-txt--disabled':ctrl.isFieldDisabled()}"
            >
                {{ctrl.i18nKeys.REMOVE | translate}}</span
            >
        </button>

        <button
                class="fd-button se-media-upload-btn__submit fd-button--compact"
                type="button"
                data-ng-click="ctrl.onShowMediaLibrary({format: ctrl.mediaFormat})"
        >
            Select Image or Video
        </button>
    </div>

    <!-- when the image is not yet uploaded -->
    <div class="se-media--absent se-cloudinary-media-absend" data-ng-if="ctrl.isMediaEditEnabled()"
         style="display: flex;flex-direction: column;"
    >
        <!-- when the file selector is enabled -->
        <se-file-selector
                data-ng-if="ctrl.field.editable"
                data-label-i18n-key="ctrl.i18nKeys.UPLOAD"
                data-custom-class="ctrl.isFieldDisabled() ? 'file-selector-disabled' : ''"
                data-disabled="ctrl.isFieldDisabled()"
                data-accepted-file-types="ctrl.acceptedFileTypes"
                data-selection-mode="'upload'"
                data-on-file-select="ctrl.onFileSelect({files: files, format: ctrl.mediaFormat})"
        ></se-file-selector>
        <!-- when the file selector is disabled -->
        <se-file-selector
                data-ng-if="!ctrl.field.editable"
                data-label-i18n-key="ctrl.i18nKeys.UPLOAD"
                data-custom-class="!ctrl.field.editable ? 'file-selector-disabled' : ''"
                data-disabled="!ctrl.field.editable"
                data-accepted-file-types="ctrl.acceptedFileTypes"
                data-selection-mode="'upload'"
                data-on-file-select="ctrl.onFileSelect({files: files, format: ctrl.mediaFormat})"
        ></se-file-selector>

        <button
                class="fd-button se-media-upload-btn__submit fd-button--compact"
                type="button"
                data-ng-click="ctrl.onShowMediaLibrary({format: ctrl.mediaFormat})"
        >
            Select Image or Video
        </button>
    </div>

    <!-- when the image is under edit -->
    <div data-ng-if="ctrl.isUnderEdit " class="se-media--edit-wrapper">


        <se-file-selector
                class="se-media--edit"
                data-label-i18n-key="ctrl.i18nKeys.UPLOAD "
                data-disabled="true"
                data-custom-class=" 'file-selector-disabled' "
                data-accepted-file-types="ctrl.acceptedFileTypes "
                data-on-file-select="ctrl.onFileSelect({files: files, format: ctrl.mediaFormat}) "
        ></se-file-selector>

        <span class="se-media-preview--edit">{{ctrl.i18nKeys.UNDER_EDIT | translate}}</span>
    </div>

    <div
            data-ng-if="!ctrl.isUnderEdit"
            class="error-input help-block"
            data-ng-repeat="error in ctrl.getErrors()"
    >
        {{error}}
    </div>
</div>
<!-- END seCloudinaryMediaFormatTemplate.html -->
