.yw-labelstyle
{
	color: red;
}
.yw-labelstyle-z-label
{
font-weight: bold !important;
	color: black !important;
	font-size: 16px !important;
}
.yw-enablelabelstyle
 {
  font-weight: bold !important;
  color: black !important;
  font-size: 16px !important;
}
.yw-editorarea-z-html
{
font-weight: black !important;
}
.yw-editorarea-z-div
 {
font-weight: black !important;
}
.yw-radioButton-z-html
{
color: black !important;
font-size: 14px !important;
}