<!--
<div class="se-media-library-widget-select {{::ctrl.customClass}}">
    <label class="se-media-library-widget-select__btn" data-ng-show="!ctrl.disabled">
        <span class="label__fileUpload label__fileUpload-link se-media-library-widget__label"
        >Select Asset</span>
    <input type="button" id="open-btn" display="none"/><input type="hidden" id="assetJson"/>
    </label>
</div>
-->
<div class="se-media-library-widget-select">
    <input type="button" class="open-btn"/>
    <input type="hidden" id="assetJson"/>
</div>
