@spartacus:registry=https://73554900100900004337.npmsrv.base.repositories.cloud.sap/
//73554900100900004337.npmsrv.base.repositories.cloud.sap/:_auth=MDAwMTM4NTU4OS10ZWNobmljYWw6a2cxcnVTckV6UVU5aElqYURJNG90TUhqWURWeFJ4MUw=
always-auth=true
