<?xml version="1.0" encoding="UTF-8"?>
<!--
 Copyright (c) 2020 SAP SE or an SAP affiliate company. All rights reserved.
-->
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd


		http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/security 
		http://www.springframework.org/schema/security/spring-security.xsd">

	<context:component-scan base-package="uk.ptr.cloudinary.oauth2" scope-resolver="de.hybris.platform.spring.IgnoreTenantScopeMetadataResolver" />

	<mvc:annotation-driven>
		<mvc:message-converters register-defaults="false">
			<bean parent="resolverXStreamJSONConverter" />
			<bean parent="resolverXStreamXmlConverter" />
		</mvc:message-converters>
	</mvc:annotation-driven>

	<!-- This tag allows for mapping the DispatcherServlet to "/" (thus overriding the mapping of the container's default Servlet), while 
		still allowing static resource requests to be handled by the container's default Servlet. It configures a DefaultServletHttpRequestHandler 
		with a URL mapping (given a lowest precedence order) of "/**". This handler will forward all requests to the default Servlet. -->
	<mvc:default-servlet-handler />

	<security:global-method-security secured-annotations="enabled" />

	<!-- Load additional configuration -->

	<bean id="jspViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>

	<!-- webservice error factory & converters -->

	<alias alias="webserviceErrorFactory" name="defaultWebserviceErrorFactory" />
	<bean id="defaultWebserviceErrorFactory" class="de.hybris.platform.webservicescommons.errors.factory.impl.DefaultWebserviceErrorFactory">
		<property name="converters">
			<list>
				<ref bean="exceptionConverter" />
			</list>
		</property>
	</bean>
</beans>
